* {
  box-sizing: border-box;
  margin: 0;
}
img,
iframe {
  width: 100%;
}
.clr {
  clear: both;
}

.home {
  background-image: url(../images/slider-02.jpg);
  background-size: cover;
  background-position: center;
  overflow: auto;
  height: 800px;
  align-items: center;
}
.layer {
  height: 800px;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
span1,
span3 {
  height: 1px;
  background-color: #ff305b;
  width: 100px;
  margin-top: 2px;
  margin-bottom: 2px;
}
span2 {
  height: 1px;
  background-color: #ff305b;
  margin-bottom: 1px;
  margin-top: 1px;
  width: 150px;
}

.home .nav-logo {
  width: 30%;
  float: left;
}

.home .nav-logo a {
  width: 10%;
  color: #ff305b;
  display: block;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
  padding: 15px 0;
}

.nav-links {
  width: 80%;
  margin: auto;
}
.home .nav-links {
  width: 50%;
  float: right;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 10px 10px;
    }
  }
}
.home .nav-links a {
  text-decoration: none;
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;
}
.nav-links a:hover {
  color: #ff305b;
}
.nav-links a.active {
  color: #ff305b;
}
.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-spacing: -5px;
  letter-spacing: -2px;
  display: block;
  text-align: center;
}

.home-content h3 {
  font-size: 24px;
  color: #f1f1f1;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: -1px;
}
.home-content h1 {
  font-size: 70px;
  color: #ff305b;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
  word-spacing: -20px;
}
.home-content h4 {
  font-size: 20px;
  color: #f1f1f1;
  font-weight: 700;
  letter-spacing: -1px;
  word-spacing: -10px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Source Code Pro', sans-serif;
}
.about {
  padding: 80px 0;
  .col-40 {
    padding: 0 40px;
  }
}
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.card-img:hover .overlay {
  height: 100%;
  top: 10px;
  opacity: 1;
}
.card-img {
  cursor: pointer;
  border: 8px solid #555555;
  border-radius: 8px;
  position: relative;

  img {
    position: relative;
    top: 10px;
    left:10px;
    border-radius: 8px;
    overflow: hidden;
  }
  .overlay {
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: calc(10px + 100%);
    left: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    i {
      margin: 0 5px;
      color: #ffffff;
    }
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
}
.card-data {
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  h2 {
    text-transform: uppercase;
    color: #333;
    font-size: 32px;
    padding-left: 15px;
    span {
      height: 22px;
      margin-right: 15px;
      padding: 0 2px;
      background-color: #ff305b;
      display: inline-block;
    }
  }

  p {
    color: #555;
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    line-height: 1.6;
    width: 95%;
    border-bottom: 1px dashed #555;
  }
  ul {
    width: 48%;
    display: inline-block;
    list-style-type: disc;
    margin-bottom: 25px;

    li {
      width: 100%;
      margin-bottom: 20px;

      color: #555555;
      span {
        color: #333333;
      }
    }
  }
}
.cv {
  background-color: #ff305b;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  margin-right: 12px;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.5s;
  
}

.hire {
  background-color: #ff305b;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  margin-right: 12px;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.5s;
  
}
 a:hover{
  background-color: #ED2508;
  cursor: pointer;
}
.service {
  background-color: #f1f1f1;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 95px 0 54px;
  .service-header {
    padding-bottom: 60px;
  }

  h2 {
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
  }

  .service-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    .service-item {
      float: left;
      width: 50%;
      height: 50%;
      padding: 5px;
      text-align: center;
      .inner {
        padding: 40px 15px;
        transition: all 0.4s ease-in-out 0s;
        i {
          color: #ff305b;
          display: block;
          font-size: 36px;
          margin-bottom: 20px;
          transition: all 0.3s ease-in-out 0s;
        }
        h3 {
          color: #333;
          font-weight: 700;
          font-size: 24px;
          margin: 15px 0;
        }
        p {
          line-height: 25px;
          color: #555555;
          font-family: 'Source Code Pro', sans-serif;
          word-spacing: -2px;
        }
      }

      .inner:hover {
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
    }
  }
  .inner {
    position: relative;
  }
}
.portfolio {
  text-align: center;
  padding: 95px 0 54px;
  h2 {
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
  }
  .portfolio-header {
    padding-bottom: 60px;
  }
  .portfolio-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .active {
      color: #ff305b;
    }
    a {
      margin: 22px 12px;
      font-size: 16px;
      color: #333;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
    }
    a:hover {
      color: #ff305b;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }
  .img {
    padding: 1px;
    position: relative;
    i {
      bottom: 20px;
      color: #ff305b;
      font-size: 23px;
      position: absolute;
      right: 20px;
    }
  }
  .img:hover .portfolio-layer {
    height: 100%;
    opacity: 1;
    cursor: pointer;
  }
  .portfolio-layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }
}
.counter {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 100px 0;
  margin-bottom: 10px;
  .box {
    width: 25%;
    float: left;
    padding: 15px;
  }
  h3 {
    color: #333;
    font-weight: 800;
    font-size: 26px;
    margin: 12px 0;
  }
  h5 {
    color: #555;
    font-weight: 600;
    font-size: 16px;
  }
  i {
    color: #ff305b;
    font-size: 23px;
  }
}
.feedback {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 100px 150px;
  h2 {
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: center;
  }
  .feedback-header {
    padding-bottom: 60px;
  }
  .feedback-box {
    position: relative;
    text-align: left;
    padding: 30px;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    .feedback-after {
      position: absolute;
      width: 30%;
      height: 150%;
      background-color: #ff305b;
      z-index: 0;
      transform: rotate(45deg);
    }
    .person-info {
      padding-left: 30px;
      display: inline-block;
      width: 75%;
      vertical-align: top;
      h3 {
        font-size: 26px;
        font-weight: 600;
        color: #333;
      }
      a {
        font-size: 15px;
        font-weight: 500;
        line-height: 16.5px;
        color: #777;
        margin: 12px 0;
        display: block;
        text-decoration: none;
      }
      p {
        font-weight: 400;
        line-height: 25px;
        color: #555;
        font-style: italic;
        margin-bottom: 20px;
      }
      .stars {
        color: #f1c30d;
      }
    }
  }

  img {
    border-radius: 50%;
    width: 110px;
    position: relative;
    z-index: 1;
  }
  .dots {
    margin: 10px 0 0 0;
    text-align: center;
    .first {
      width: 25px;
      height: 10px;
      border-radius: 10px;
      background-color: #ff305b;
    }
    .second {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: #ff305b 1px solid;
    }
    span {
      display: inline-block;
    }
  }
}
.blog{
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
  width: 100%;
  h2 {
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    padding-bottom: 60px;
  }
.blog-boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .blog-box{
    margin-top: 0;
    background-color: #fff;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    .blog-content {
      padding: 25px;
      font-family: 'Roboto', sans-serif;
      text-align: start;

      .date {
        font-size: 16px;
        font-weight: 400;
        color: #555;
      }
      .header {
        font-size: 24px;
        font-weight: 500;
        margin: 15px 0;
        display: block;
        transition: all 0.5s;
      }
      p {
        color: #555;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 15px;
        width: 90%;
      }
      a {
        color: #333;
        text-decoration: none;
      }
      .more {
        transition: all 0.5s;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

  }
}
  
}

.contact{
  width: 60%;
  margin:auto;
  padding: 100px 0;
  
  h2 {
    word-spacing: -1px;
    text-transform: capitalize;
    font-family: Source Sans Pro, sans-serif;
    font-size: 40px;
    color: #333;
    position: relative;
    text-align: center;
    padding-bottom: 25px;
    .line-container{
      margin-top: 10px;
      span{
        margin-bottom: 3px;
      }
    }
}
form{
  display: block;
}
.input-box{
  padding: 10px 10px;
}
.left{
float: left;
width: 50%;
}
.right{
  float: right;
  width: 48%;
}
input{
margin-bottom: 10px;
padding: 12px;
border-radius: 5px;
border: 1px solid #ccc;
}
input[name="user-name"], input[name="user-email"] {
  width: 100%;
}

input[name="subject"]{
  width: 100%;
}

textarea{
padding: 12px;
border-radius: 5px;
border: 1px solid #ccc;
  display: block;
  width: 100%;
}

input[type="submit"] {
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  background-color: #FF305B;
  margin-right: 12px;
  transition: all .5s;
  
  }
} 
input[type="submit"]:hover {
  background-color: #ED2508;
  cursor: pointer;
}


.footer{
  padding: 60px 0;
    text-align: center;
    background-color: #333;
    color: white;
    .social{
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    transition: all 0.4s ease-in-out 0s;
    i{
      margin: 0 8px;
    }
    i:hover{
      color: #FF305B;
      cursor: pointer;
      transition: all 0.2s ease-in-out 0s;
    }
    }
    p{
      margin-top: 15px;
      text-transform: capitalize;
    }
    span{
      color: #FF305B; 
    }
}

